<table class="table_main">
	<tr>
		<th>Nazov</th>
		<th>Suma</th>
		<th>Akcia</th>
	</tr>
	<tr>
		<td><%= debt.name %></td>
		<td><%= debt.amount %></td>
		<td><%= link_to "Upravit", edit_debt_path(debt) %></td>
	</tr>
</table>